/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #0ea1c5;
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

$background                 : #111827;
$background-light           : mix(#fff, $background, 80%);
$background-lighter         : mix(#fff, $background, 90%);
$text                       : #f8fafc;
$link                       : #38bdf8;
$link-dark                  : #60a5fa;//mix(#000, $link, 25%);
$link-light                 : #7dd3fc;//mix(#fff, $link, 25%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {

    --global-base-color: #38bdf8;

    --global-bg-color: #111827;
    --global-footer-bg-color: #0b1120;

    --global-border-color: #334155;
    --global-dark-border-color: #1f2937;

    --global-code-background-color: #1f2937;
    --global-code-text-color: #f8fafc;

    --global-fig-caption-color: #cbd5e1;

    --global-link-color: #38bdf8;
    --global-link-color-hover: #60a5fa;
    --global-link-color-visited: #7dd3fc;

    --global-masthead-link-color: #f8fafc;
    --global-masthead-link-color-hover: #38bdf8;

    --global-text-color: #f8fafc;
    --global-text-color-light: #cbd5e1;

    --global-thead-color: #1f2937;
}

